//
// Written by Synplify Pro 
// Product Version "S-2021.09M-SP1"
// Program "Synplify Pro", Mapper "map202109actsp1, Build 056R"
// Fri Jan 27 13:55:32 2023
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\microchip\libero_soc_v2022.2\synplifypro\lib\vhd2008\std.vhd "
// file 1 "\c:\microchip\libero_soc_v2022.2\synplifypro\lib\vhd\snps_haps_pkg.vhd "
// file 2 "\c:\microchip\libero_soc_v2022.2\synplifypro\lib\vhd2008\std1164.vhd "
// file 3 "\c:\microchip\libero_soc_v2022.2\synplifypro\lib\vhd2008\std_textio.vhd "
// file 4 "\c:\microchip\libero_soc_v2022.2\synplifypro\lib\vhd2008\numeric.vhd "
// file 5 "\c:\microchip\libero_soc_v2022.2\synplifypro\lib\vhd\umr_capim.vhd "
// file 6 "\c:\microchip\libero_soc_v2022.2\synplifypro\lib\vhd2008\arith.vhd "
// file 7 "\c:\microchip\libero_soc_v2022.2\synplifypro\lib\vhd2008\unsigned.vhd "
// file 8 "\c:\microchip\libero_soc_v2022.2\synplifypro\lib\vhd\hyperents.vhd "
// file 9 "\c:\users\constantin\documents\vhdlsoundchip\component\work\fccc_c0\fccc_c0_0\fccc_c0_fccc_c0_0_fccc.vhd "
// file 10 "\c:\microchip\libero_soc_v2022.2\synplifypro\lib\generic\smartfusion2.vhd "
// file 11 "\c:\users\constantin\documents\vhdlsoundchip\component\actel\sgcore\osc\2.0.101\osc_comps.vhd "
// file 12 "\c:\users\constantin\documents\vhdlsoundchip\hdl\delta_adder.vhd "
// file 13 "\c:\users\constantin\documents\vhdlsoundchip\hdl\sigma_adder.vhd "
// file 14 "\c:\users\constantin\documents\vhdlsoundchip\hdl\data_receiver.vhd "
// file 15 "\c:\users\constantin\documents\vhdlsoundchip\hdl\spi_slave.vhd "
// file 16 "\c:\users\constantin\documents\vhdlsoundchip\component\work\fccc_c0\fccc_c0.vhd "
// file 17 "\c:\users\constantin\documents\vhdlsoundchip\component\work\osc_c0\osc_c0_0\osc_c0_osc_c0_0_osc.vhd "
// file 18 "\c:\users\constantin\documents\vhdlsoundchip\component\work\osc_c0\osc_c0.vhd "
// file 19 "\c:\users\constantin\documents\vhdlsoundchip\hdl\dac.vhd "
// file 20 "\c:\users\constantin\documents\vhdlsoundchip\component\work\soundchip\soundchip.vhd "
// file 21 "\c:\microchip\libero_soc_v2022.2\synplifypro\lib\nlconst.dat "
// file 22 "\c:\users\constantin\documents\vhdlsoundchip\designer\soundchip\synthesis.fdc "
// file 23 "\c:/users/constantin/documents/vhdlsoundchip/designer/soundchip/synthesis.fdc "

`timescale 100 ps/100 ps
module delta_adder (
  data_receiver_0_data_left,
  data_delta,
  dac_out_left_c,
  clk_debug,
  dac_reset_i
)
;
input [15:0] data_receiver_0_data_left ;
output [16:0] data_delta ;
input dac_out_left_c ;
input clk_debug ;
input dac_reset_i ;
wire dac_out_left_c ;
wire clk_debug ;
wire dac_reset_i ;
wire VCC ;
wire GND ;
// @12:41
  SLE \data_out_1[10]  (
	.Q(data_delta[10]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[10]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[9]  (
	.Q(data_delta[9]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[9]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[8]  (
	.Q(data_delta[8]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[8]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[7]  (
	.Q(data_delta[7]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[7]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[6]  (
	.Q(data_delta[6]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[5]  (
	.Q(data_delta[5]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[4]  (
	.Q(data_delta[4]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[3]  (
	.Q(data_delta[3]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[2]  (
	.Q(data_delta[2]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[1]  (
	.Q(data_delta[1]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[0]  (
	.Q(data_delta[0]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[16]  (
	.Q(data_delta[16]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(dac_out_left_c),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[15]  (
	.Q(data_delta[15]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[15]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[14]  (
	.Q(data_delta[14]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[14]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[13]  (
	.Q(data_delta[13]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[13]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[12]  (
	.Q(data_delta[12]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[12]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[11]  (
	.Q(data_delta[11]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_left[11]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* delta_adder */

module sigma_adder (
  data_delta,
  dac_out_left_c,
  clk_debug,
  dac_reset_i
)
;
input [16:0] data_delta ;
output dac_out_left_c ;
input clk_debug ;
input dac_reset_i ;
wire dac_out_left_c ;
wire clk_debug ;
wire dac_reset_i ;
wire [16:0] sigma_register_Z;
wire [17:1] temp_reg;
wire VCC ;
wire GND ;
wire temp_reg_cry_0_Y_0 ;
wire temp_reg_cry_0_Z ;
wire temp_reg_cry_0_S_0 ;
wire temp_reg_cry_1_Z ;
wire temp_reg_cry_1_Y_0 ;
wire temp_reg_cry_2_Z ;
wire temp_reg_cry_2_Y_0 ;
wire temp_reg_cry_3_Z ;
wire temp_reg_cry_3_Y_0 ;
wire temp_reg_cry_4_Z ;
wire temp_reg_cry_4_Y_0 ;
wire temp_reg_cry_5_Z ;
wire temp_reg_cry_5_Y_0 ;
wire temp_reg_cry_6_Z ;
wire temp_reg_cry_6_Y_0 ;
wire temp_reg_cry_7_Z ;
wire temp_reg_cry_7_Y_0 ;
wire temp_reg_cry_8_Z ;
wire temp_reg_cry_8_Y_0 ;
wire temp_reg_cry_9_Z ;
wire temp_reg_cry_9_Y_0 ;
wire temp_reg_cry_10_Z ;
wire temp_reg_cry_10_Y_0 ;
wire temp_reg_cry_11_Z ;
wire temp_reg_cry_11_Y_0 ;
wire temp_reg_cry_12_Z ;
wire temp_reg_cry_12_Y_0 ;
wire temp_reg_cry_13_Z ;
wire temp_reg_cry_13_Y_0 ;
wire temp_reg_cry_14_Z ;
wire temp_reg_cry_14_Y_0 ;
wire temp_reg_cry_15_Z ;
wire temp_reg_cry_15_Y_0 ;
wire temp_reg_s_17_FCO_0 ;
wire temp_reg_s_17_Y_0 ;
wire temp_reg_cry_16_Z ;
wire temp_reg_cry_16_Y_0 ;
// @13:41
  SLE \sigma_register[8]  (
	.Q(sigma_register_Z[8]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[8]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[7]  (
	.Q(sigma_register_Z[7]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[7]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[6]  (
	.Q(sigma_register_Z[6]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[5]  (
	.Q(sigma_register_Z[5]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[4]  (
	.Q(sigma_register_Z[4]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[3]  (
	.Q(sigma_register_Z[3]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[2]  (
	.Q(sigma_register_Z[2]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[1]  (
	.Q(sigma_register_Z[1]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[0]  (
	.Q(sigma_register_Z[0]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg_cry_0_Y_0),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[17]  (
	.Q(dac_out_left_c),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[17]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[16]  (
	.Q(sigma_register_Z[16]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[16]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[15]  (
	.Q(sigma_register_Z[15]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[15]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[14]  (
	.Q(sigma_register_Z[14]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[14]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[13]  (
	.Q(sigma_register_Z[13]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[13]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[12]  (
	.Q(sigma_register_Z[12]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[12]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[11]  (
	.Q(sigma_register_Z[11]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[11]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[10]  (
	.Q(sigma_register_Z[10]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[10]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[9]  (
	.Q(sigma_register_Z[9]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[9]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:45
  ARI1 temp_reg_cry_0 (
	.FCO(temp_reg_cry_0_Z),
	.S(temp_reg_cry_0_S_0),
	.Y(temp_reg_cry_0_Y_0),
	.B(data_delta[0]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[0]),
	.FCI(GND)
);
defparam temp_reg_cry_0.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_1 (
	.FCO(temp_reg_cry_1_Z),
	.S(temp_reg[1]),
	.Y(temp_reg_cry_1_Y_0),
	.B(data_delta[1]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[1]),
	.FCI(temp_reg_cry_0_Z)
);
defparam temp_reg_cry_1.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_2 (
	.FCO(temp_reg_cry_2_Z),
	.S(temp_reg[2]),
	.Y(temp_reg_cry_2_Y_0),
	.B(data_delta[2]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[2]),
	.FCI(temp_reg_cry_1_Z)
);
defparam temp_reg_cry_2.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_3 (
	.FCO(temp_reg_cry_3_Z),
	.S(temp_reg[3]),
	.Y(temp_reg_cry_3_Y_0),
	.B(data_delta[3]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[3]),
	.FCI(temp_reg_cry_2_Z)
);
defparam temp_reg_cry_3.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_4 (
	.FCO(temp_reg_cry_4_Z),
	.S(temp_reg[4]),
	.Y(temp_reg_cry_4_Y_0),
	.B(data_delta[4]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[4]),
	.FCI(temp_reg_cry_3_Z)
);
defparam temp_reg_cry_4.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_5 (
	.FCO(temp_reg_cry_5_Z),
	.S(temp_reg[5]),
	.Y(temp_reg_cry_5_Y_0),
	.B(data_delta[5]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[5]),
	.FCI(temp_reg_cry_4_Z)
);
defparam temp_reg_cry_5.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_6 (
	.FCO(temp_reg_cry_6_Z),
	.S(temp_reg[6]),
	.Y(temp_reg_cry_6_Y_0),
	.B(data_delta[6]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[6]),
	.FCI(temp_reg_cry_5_Z)
);
defparam temp_reg_cry_6.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_7 (
	.FCO(temp_reg_cry_7_Z),
	.S(temp_reg[7]),
	.Y(temp_reg_cry_7_Y_0),
	.B(data_delta[7]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[7]),
	.FCI(temp_reg_cry_6_Z)
);
defparam temp_reg_cry_7.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_8 (
	.FCO(temp_reg_cry_8_Z),
	.S(temp_reg[8]),
	.Y(temp_reg_cry_8_Y_0),
	.B(data_delta[8]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[8]),
	.FCI(temp_reg_cry_7_Z)
);
defparam temp_reg_cry_8.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_9 (
	.FCO(temp_reg_cry_9_Z),
	.S(temp_reg[9]),
	.Y(temp_reg_cry_9_Y_0),
	.B(data_delta[9]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[9]),
	.FCI(temp_reg_cry_8_Z)
);
defparam temp_reg_cry_9.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_10 (
	.FCO(temp_reg_cry_10_Z),
	.S(temp_reg[10]),
	.Y(temp_reg_cry_10_Y_0),
	.B(data_delta[10]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[10]),
	.FCI(temp_reg_cry_9_Z)
);
defparam temp_reg_cry_10.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_11 (
	.FCO(temp_reg_cry_11_Z),
	.S(temp_reg[11]),
	.Y(temp_reg_cry_11_Y_0),
	.B(data_delta[11]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[11]),
	.FCI(temp_reg_cry_10_Z)
);
defparam temp_reg_cry_11.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_12 (
	.FCO(temp_reg_cry_12_Z),
	.S(temp_reg[12]),
	.Y(temp_reg_cry_12_Y_0),
	.B(data_delta[12]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[12]),
	.FCI(temp_reg_cry_11_Z)
);
defparam temp_reg_cry_12.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_13 (
	.FCO(temp_reg_cry_13_Z),
	.S(temp_reg[13]),
	.Y(temp_reg_cry_13_Y_0),
	.B(data_delta[13]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[13]),
	.FCI(temp_reg_cry_12_Z)
);
defparam temp_reg_cry_13.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_14 (
	.FCO(temp_reg_cry_14_Z),
	.S(temp_reg[14]),
	.Y(temp_reg_cry_14_Y_0),
	.B(data_delta[14]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[14]),
	.FCI(temp_reg_cry_13_Z)
);
defparam temp_reg_cry_14.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_15 (
	.FCO(temp_reg_cry_15_Z),
	.S(temp_reg[15]),
	.Y(temp_reg_cry_15_Y_0),
	.B(data_delta[15]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[15]),
	.FCI(temp_reg_cry_14_Z)
);
defparam temp_reg_cry_15.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_s_17 (
	.FCO(temp_reg_s_17_FCO_0),
	.S(temp_reg[17]),
	.Y(temp_reg_s_17_Y_0),
	.B(data_delta[16]),
	.C(dac_out_left_c),
	.D(GND),
	.A(VCC),
	.FCI(temp_reg_cry_16_Z)
);
defparam temp_reg_s_17.INIT=20'h46600;
// @13:45
  ARI1 temp_reg_cry_16 (
	.FCO(temp_reg_cry_16_Z),
	.S(temp_reg[16]),
	.Y(temp_reg_cry_16_Y_0),
	.B(data_delta[16]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[16]),
	.FCI(temp_reg_cry_15_Z)
);
defparam temp_reg_cry_16.INIT=20'h555AA;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* sigma_adder */

module dac (
  data_receiver_0_data_left,
  dac_reset_i,
  clk_debug,
  dac_out_left_c
)
;
input [15:0] data_receiver_0_data_left ;
input dac_reset_i ;
input clk_debug ;
output dac_out_left_c ;
wire dac_reset_i ;
wire clk_debug ;
wire dac_out_left_c ;
wire [16:0] data_delta;
wire GND ;
wire VCC ;
// @19:57
  delta_adder DELTA_ADDER_0 (
	.data_receiver_0_data_left(data_receiver_0_data_left[15:0]),
	.data_delta(data_delta[16:0]),
	.dac_out_left_c(dac_out_left_c),
	.clk_debug(clk_debug),
	.dac_reset_i(dac_reset_i)
);
// @19:65
  sigma_adder SIGMA_ADDER_0 (
	.data_delta(data_delta[16:0]),
	.dac_out_left_c(dac_out_left_c),
	.clk_debug(clk_debug),
	.dac_reset_i(dac_reset_i)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* dac */

module delta_adder_0 (
  data_receiver_0_data_right,
  data_delta,
  dac_out_right_c,
  clk_debug,
  dac_reset_i
)
;
input [15:0] data_receiver_0_data_right ;
output [16:0] data_delta ;
input dac_out_right_c ;
input clk_debug ;
input dac_reset_i ;
wire dac_out_right_c ;
wire clk_debug ;
wire dac_reset_i ;
wire VCC ;
wire GND ;
// @12:41
  SLE \data_out_1[5]  (
	.Q(data_delta[5]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[4]  (
	.Q(data_delta[4]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[3]  (
	.Q(data_delta[3]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[2]  (
	.Q(data_delta[2]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[1]  (
	.Q(data_delta[1]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[0]  (
	.Q(data_delta[0]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[16]  (
	.Q(data_delta[16]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(dac_out_right_c),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[15]  (
	.Q(data_delta[15]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[15]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[14]  (
	.Q(data_delta[14]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[14]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[13]  (
	.Q(data_delta[13]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[13]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[12]  (
	.Q(data_delta[12]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[12]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[11]  (
	.Q(data_delta[11]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[11]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[10]  (
	.Q(data_delta[10]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[10]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[9]  (
	.Q(data_delta[9]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[9]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[8]  (
	.Q(data_delta[8]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[8]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[7]  (
	.Q(data_delta[7]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[7]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:41
  SLE \data_out_1[6]  (
	.Q(data_delta[6]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(data_receiver_0_data_right[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* delta_adder_0 */

module sigma_adder_0 (
  data_delta,
  dac_out_right_c,
  clk_debug,
  dac_reset_i
)
;
input [16:0] data_delta ;
output dac_out_right_c ;
input clk_debug ;
input dac_reset_i ;
wire dac_out_right_c ;
wire clk_debug ;
wire dac_reset_i ;
wire [16:0] sigma_register_Z;
wire [17:1] temp_reg;
wire VCC ;
wire GND ;
wire temp_reg_cry_0_Y ;
wire temp_reg_cry_0_Z ;
wire temp_reg_cry_0_S ;
wire temp_reg_cry_1_Z ;
wire temp_reg_cry_1_Y ;
wire temp_reg_cry_2_Z ;
wire temp_reg_cry_2_Y ;
wire temp_reg_cry_3_Z ;
wire temp_reg_cry_3_Y ;
wire temp_reg_cry_4_Z ;
wire temp_reg_cry_4_Y ;
wire temp_reg_cry_5_Z ;
wire temp_reg_cry_5_Y ;
wire temp_reg_cry_6_Z ;
wire temp_reg_cry_6_Y ;
wire temp_reg_cry_7_Z ;
wire temp_reg_cry_7_Y ;
wire temp_reg_cry_8_Z ;
wire temp_reg_cry_8_Y ;
wire temp_reg_cry_9_Z ;
wire temp_reg_cry_9_Y ;
wire temp_reg_cry_10_Z ;
wire temp_reg_cry_10_Y ;
wire temp_reg_cry_11_Z ;
wire temp_reg_cry_11_Y ;
wire temp_reg_cry_12_Z ;
wire temp_reg_cry_12_Y ;
wire temp_reg_cry_13_Z ;
wire temp_reg_cry_13_Y ;
wire temp_reg_cry_14_Z ;
wire temp_reg_cry_14_Y ;
wire temp_reg_cry_15_Z ;
wire temp_reg_cry_15_Y ;
wire temp_reg_s_17_FCO ;
wire temp_reg_s_17_Y ;
wire temp_reg_cry_16_Z ;
wire temp_reg_cry_16_Y ;
// @13:41
  SLE \sigma_register[3]  (
	.Q(sigma_register_Z[3]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[2]  (
	.Q(sigma_register_Z[2]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[1]  (
	.Q(sigma_register_Z[1]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[0]  (
	.Q(sigma_register_Z[0]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg_cry_0_Y),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[17]  (
	.Q(dac_out_right_c),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[17]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[16]  (
	.Q(sigma_register_Z[16]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[16]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[15]  (
	.Q(sigma_register_Z[15]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[15]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[14]  (
	.Q(sigma_register_Z[14]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[14]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[13]  (
	.Q(sigma_register_Z[13]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[13]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[12]  (
	.Q(sigma_register_Z[12]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[12]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[11]  (
	.Q(sigma_register_Z[11]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[11]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[10]  (
	.Q(sigma_register_Z[10]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[10]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[9]  (
	.Q(sigma_register_Z[9]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[9]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[8]  (
	.Q(sigma_register_Z[8]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[8]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[7]  (
	.Q(sigma_register_Z[7]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[7]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[6]  (
	.Q(sigma_register_Z[6]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[5]  (
	.Q(sigma_register_Z[5]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:41
  SLE \sigma_register[4]  (
	.Q(sigma_register_Z[4]),
	.ADn(VCC),
	.ALn(dac_reset_i),
	.CLK(clk_debug),
	.D(temp_reg[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @13:45
  ARI1 temp_reg_cry_0 (
	.FCO(temp_reg_cry_0_Z),
	.S(temp_reg_cry_0_S),
	.Y(temp_reg_cry_0_Y),
	.B(data_delta[0]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[0]),
	.FCI(GND)
);
defparam temp_reg_cry_0.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_1 (
	.FCO(temp_reg_cry_1_Z),
	.S(temp_reg[1]),
	.Y(temp_reg_cry_1_Y),
	.B(data_delta[1]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[1]),
	.FCI(temp_reg_cry_0_Z)
);
defparam temp_reg_cry_1.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_2 (
	.FCO(temp_reg_cry_2_Z),
	.S(temp_reg[2]),
	.Y(temp_reg_cry_2_Y),
	.B(data_delta[2]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[2]),
	.FCI(temp_reg_cry_1_Z)
);
defparam temp_reg_cry_2.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_3 (
	.FCO(temp_reg_cry_3_Z),
	.S(temp_reg[3]),
	.Y(temp_reg_cry_3_Y),
	.B(data_delta[3]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[3]),
	.FCI(temp_reg_cry_2_Z)
);
defparam temp_reg_cry_3.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_4 (
	.FCO(temp_reg_cry_4_Z),
	.S(temp_reg[4]),
	.Y(temp_reg_cry_4_Y),
	.B(data_delta[4]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[4]),
	.FCI(temp_reg_cry_3_Z)
);
defparam temp_reg_cry_4.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_5 (
	.FCO(temp_reg_cry_5_Z),
	.S(temp_reg[5]),
	.Y(temp_reg_cry_5_Y),
	.B(data_delta[5]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[5]),
	.FCI(temp_reg_cry_4_Z)
);
defparam temp_reg_cry_5.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_6 (
	.FCO(temp_reg_cry_6_Z),
	.S(temp_reg[6]),
	.Y(temp_reg_cry_6_Y),
	.B(data_delta[6]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[6]),
	.FCI(temp_reg_cry_5_Z)
);
defparam temp_reg_cry_6.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_7 (
	.FCO(temp_reg_cry_7_Z),
	.S(temp_reg[7]),
	.Y(temp_reg_cry_7_Y),
	.B(data_delta[7]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[7]),
	.FCI(temp_reg_cry_6_Z)
);
defparam temp_reg_cry_7.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_8 (
	.FCO(temp_reg_cry_8_Z),
	.S(temp_reg[8]),
	.Y(temp_reg_cry_8_Y),
	.B(data_delta[8]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[8]),
	.FCI(temp_reg_cry_7_Z)
);
defparam temp_reg_cry_8.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_9 (
	.FCO(temp_reg_cry_9_Z),
	.S(temp_reg[9]),
	.Y(temp_reg_cry_9_Y),
	.B(data_delta[9]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[9]),
	.FCI(temp_reg_cry_8_Z)
);
defparam temp_reg_cry_9.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_10 (
	.FCO(temp_reg_cry_10_Z),
	.S(temp_reg[10]),
	.Y(temp_reg_cry_10_Y),
	.B(data_delta[10]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[10]),
	.FCI(temp_reg_cry_9_Z)
);
defparam temp_reg_cry_10.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_11 (
	.FCO(temp_reg_cry_11_Z),
	.S(temp_reg[11]),
	.Y(temp_reg_cry_11_Y),
	.B(data_delta[11]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[11]),
	.FCI(temp_reg_cry_10_Z)
);
defparam temp_reg_cry_11.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_12 (
	.FCO(temp_reg_cry_12_Z),
	.S(temp_reg[12]),
	.Y(temp_reg_cry_12_Y),
	.B(data_delta[12]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[12]),
	.FCI(temp_reg_cry_11_Z)
);
defparam temp_reg_cry_12.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_13 (
	.FCO(temp_reg_cry_13_Z),
	.S(temp_reg[13]),
	.Y(temp_reg_cry_13_Y),
	.B(data_delta[13]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[13]),
	.FCI(temp_reg_cry_12_Z)
);
defparam temp_reg_cry_13.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_14 (
	.FCO(temp_reg_cry_14_Z),
	.S(temp_reg[14]),
	.Y(temp_reg_cry_14_Y),
	.B(data_delta[14]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[14]),
	.FCI(temp_reg_cry_13_Z)
);
defparam temp_reg_cry_14.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_cry_15 (
	.FCO(temp_reg_cry_15_Z),
	.S(temp_reg[15]),
	.Y(temp_reg_cry_15_Y),
	.B(data_delta[15]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[15]),
	.FCI(temp_reg_cry_14_Z)
);
defparam temp_reg_cry_15.INIT=20'h555AA;
// @13:45
  ARI1 temp_reg_s_17 (
	.FCO(temp_reg_s_17_FCO),
	.S(temp_reg[17]),
	.Y(temp_reg_s_17_Y),
	.B(data_delta[16]),
	.C(dac_out_right_c),
	.D(GND),
	.A(VCC),
	.FCI(temp_reg_cry_16_Z)
);
defparam temp_reg_s_17.INIT=20'h46600;
// @13:45
  ARI1 temp_reg_cry_16 (
	.FCO(temp_reg_cry_16_Z),
	.S(temp_reg[16]),
	.Y(temp_reg_cry_16_Y),
	.B(data_delta[16]),
	.C(GND),
	.D(GND),
	.A(sigma_register_Z[16]),
	.FCI(temp_reg_cry_15_Z)
);
defparam temp_reg_cry_16.INIT=20'h555AA;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* sigma_adder_0 */

module dac_0 (
  data_receiver_0_data_right,
  dac_reset_i,
  clk_debug,
  dac_out_right_c
)
;
input [15:0] data_receiver_0_data_right ;
input dac_reset_i ;
input clk_debug ;
output dac_out_right_c ;
wire dac_reset_i ;
wire clk_debug ;
wire dac_out_right_c ;
wire [16:0] data_delta;
wire GND ;
wire VCC ;
// @19:57
  delta_adder_0 DELTA_ADDER_0 (
	.data_receiver_0_data_right(data_receiver_0_data_right[15:0]),
	.data_delta(data_delta[16:0]),
	.dac_out_right_c(dac_out_right_c),
	.clk_debug(clk_debug),
	.dac_reset_i(dac_reset_i)
);
// @19:65
  sigma_adder_0 SIGMA_ADDER_0 (
	.data_delta(data_delta[16:0]),
	.dac_out_right_c(dac_out_right_c),
	.clk_debug(clk_debug),
	.dac_reset_i(dac_reset_i)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* dac_0 */

module data_receiver (
  spi_slave_0_DataRxd,
  data_receiver_0_data_left,
  data_receiver_0_data_right,
  Y_OUT_PRE_INV0_0,
  SPI_DONE,
  Y_OUT_PRE_INV0_0_arst,
  dac_reset_i
)
;
input [31:0] spi_slave_0_DataRxd ;
output [15:0] data_receiver_0_data_left ;
output [15:0] data_receiver_0_data_right ;
input Y_OUT_PRE_INV0_0 ;
input SPI_DONE ;
input Y_OUT_PRE_INV0_0_arst ;
output dac_reset_i ;
wire Y_OUT_PRE_INV0_0 ;
wire SPI_DONE ;
wire Y_OUT_PRE_INV0_0_arst ;
wire dac_reset_i ;
wire dac_reset_Z ;
wire VCC ;
wire GND ;
  CLKINT dac_reset_RNILDSA (
	.Y(dac_reset_i),
	.A(dac_reset_Z)
);
// @14:43
  SLE \data[0]  (
	.Q(data_receiver_0_data_right[0]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[15]  (
	.Q(data_receiver_0_data_right[15]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[15]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[14]  (
	.Q(data_receiver_0_data_right[14]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[14]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[13]  (
	.Q(data_receiver_0_data_right[13]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[13]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[12]  (
	.Q(data_receiver_0_data_right[12]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[12]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[11]  (
	.Q(data_receiver_0_data_right[11]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[11]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[10]  (
	.Q(data_receiver_0_data_right[10]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[10]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[9]  (
	.Q(data_receiver_0_data_right[9]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[9]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[8]  (
	.Q(data_receiver_0_data_right[8]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[8]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[7]  (
	.Q(data_receiver_0_data_right[7]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[7]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[6]  (
	.Q(data_receiver_0_data_right[6]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[5]  (
	.Q(data_receiver_0_data_right[5]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[4]  (
	.Q(data_receiver_0_data_right[4]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[3]  (
	.Q(data_receiver_0_data_right[3]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[2]  (
	.Q(data_receiver_0_data_right[2]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[1]  (
	.Q(data_receiver_0_data_right[1]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[30]  (
	.Q(data_receiver_0_data_left[14]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[30]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[29]  (
	.Q(data_receiver_0_data_left[13]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[29]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[28]  (
	.Q(data_receiver_0_data_left[12]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[28]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[27]  (
	.Q(data_receiver_0_data_left[11]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[27]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[26]  (
	.Q(data_receiver_0_data_left[10]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[26]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[25]  (
	.Q(data_receiver_0_data_left[9]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[25]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[24]  (
	.Q(data_receiver_0_data_left[8]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[24]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[23]  (
	.Q(data_receiver_0_data_left[7]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[23]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[22]  (
	.Q(data_receiver_0_data_left[6]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[22]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[21]  (
	.Q(data_receiver_0_data_left[5]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[21]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[20]  (
	.Q(data_receiver_0_data_left[4]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[20]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[19]  (
	.Q(data_receiver_0_data_left[3]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[19]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[18]  (
	.Q(data_receiver_0_data_left[2]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[18]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[17]  (
	.Q(data_receiver_0_data_left[1]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[17]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[16]  (
	.Q(data_receiver_0_data_left[0]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[16]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:43
  SLE \data[31]  (
	.Q(data_receiver_0_data_left[15]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(SPI_DONE),
	.D(spi_slave_0_DataRxd[31]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @14:54
  CFG2 dac_reset (
	.A(SPI_DONE),
	.B(Y_OUT_PRE_INV0_0),
	.Y(dac_reset_Z)
);
defparam dac_reset.INIT=4'h4;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* data_receiver */

module FCCC_C0_FCCC_C0_0_FCCC (
  OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC,
  FCCC_C0_0_LOCK,
  clk_debug
)
;
input OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
output FCCC_C0_0_LOCK ;
output clk_debug ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire FCCC_C0_0_LOCK ;
wire clk_debug ;
wire [7:0] PRDATA;
wire GL0_net ;
wire Y0 ;
wire Y1 ;
wire Y2 ;
wire Y3 ;
wire BUSY ;
wire VCC ;
wire GND ;
wire GL1 ;
wire GL2 ;
wire GL3 ;
// @9:103
  CLKINT GL0_INST (
	.Y(clk_debug),
	.A(GL0_net)
);
// @9:106
  CCC CCC_INST (
	.Y0(Y0),
	.Y1(Y1),
	.Y2(Y2),
	.Y3(Y3),
	.PRDATA(PRDATA[7:0]),
	.LOCK(FCCC_C0_0_LOCK),
	.BUSY(BUSY),
	.CLK0(VCC),
	.CLK1(VCC),
	.CLK2(VCC),
	.CLK3(VCC),
	.NGMUX0_SEL(GND),
	.NGMUX1_SEL(GND),
	.NGMUX2_SEL(GND),
	.NGMUX3_SEL(GND),
	.NGMUX0_HOLD_N(VCC),
	.NGMUX1_HOLD_N(VCC),
	.NGMUX2_HOLD_N(VCC),
	.NGMUX3_HOLD_N(VCC),
	.NGMUX0_ARST_N(VCC),
	.NGMUX1_ARST_N(VCC),
	.NGMUX2_ARST_N(VCC),
	.NGMUX3_ARST_N(VCC),
	.PLL_BYPASS_N(VCC),
	.PLL_ARST_N(VCC),
	.PLL_POWERDOWN_N(VCC),
	.GPD0_ARST_N(VCC),
	.GPD1_ARST_N(VCC),
	.GPD2_ARST_N(VCC),
	.GPD3_ARST_N(VCC),
	.PRESET_N(GND),
	.PCLK(VCC),
	.PSEL(VCC),
	.PENABLE(VCC),
	.PWRITE(VCC),
	.PADDR({VCC, VCC, VCC, VCC, VCC, VCC}),
	.PWDATA({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.CLK0_PAD(GND),
	.CLK1_PAD(GND),
	.CLK2_PAD(GND),
	.CLK3_PAD(GND),
	.GL0(GL0_net),
	.GL1(GL1),
	.GL2(GL2),
	.GL3(GL3),
	.RCOSC_25_50MHZ(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC),
	.RCOSC_1MHZ(GND),
	.XTLOSC(GND)
);
defparam CCC_INST.INIT=210'h0000007FB8000044574000318C6318C1F18C61EC0404040400B01;
defparam CCC_INST.VCOFREQUENCY=600.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* FCCC_C0_FCCC_C0_0_FCCC */

module FCCC_C0 (
  clk_debug,
  FCCC_C0_0_LOCK,
  OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC
)
;
output clk_debug ;
output FCCC_C0_0_LOCK ;
input OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire clk_debug ;
wire FCCC_C0_0_LOCK ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire GND ;
wire VCC ;
// @16:205
  FCCC_C0_FCCC_C0_0_FCCC FCCC_C0_0 (
	.OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC),
	.FCCC_C0_0_LOCK(FCCC_C0_0_LOCK),
	.clk_debug(clk_debug)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* FCCC_C0 */

module OSC_C0_OSC_C0_0_OSC (
  OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC
)
;
output OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire GND ;
wire VCC ;
// @17:34
  RCOSC_25_50MHZ I_RCOSC_25_50MHZ (
	.CLKOUT(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
defparam I_RCOSC_25_50MHZ.FREQUENCY=50.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* OSC_C0_OSC_C0_0_OSC */

module OSC_C0 (
  OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC
)
;
output OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire GND ;
wire VCC ;
// @18:92
  OSC_C0_OSC_C0_0_OSC OSC_C0_0 (
	.OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* OSC_C0 */

module spi_slave (
  spi_slave_0_DataRxd,
  spi_miso_c,
  spi_mosi_c,
  spi_sck_c,
  spi_ss_c,
  clk_debug,
  Y_OUT_PRE_INV0_0_arst,
  SPI_DONE_1z
)
;
output [31:0] spi_slave_0_DataRxd ;
output spi_miso_c ;
input spi_mosi_c ;
input spi_sck_c ;
input spi_ss_c ;
input clk_debug ;
input Y_OUT_PRE_INV0_0_arst ;
output SPI_DONE_1z ;
wire spi_miso_c ;
wire spi_mosi_c ;
wire spi_sck_c ;
wire spi_ss_c ;
wire clk_debug ;
wire Y_OUT_PRE_INV0_0_arst ;
wire SPI_DONE_1z ;
wire [30:0] TxData_Z;
wire [4:0] index_Z;
wire SPI_DONE_0 ;
wire SCLK_old_Z ;
wire VCC ;
wire SCLK_latched_Z ;
wire GND ;
wire SS_latched_Z ;
wire MOSI_latched_Z ;
wire SPI_DONE_0_sqmuxa_0_0 ;
wire SS_old_Z ;
wire N_2_i ;
wire N_4_i ;
wire N_161_i ;
wire N_18_i ;
wire N_10 ;
wire N_12 ;
wire N_15 ;
wire N_8 ;
wire index_n1_i_0_Z ;
wire N_22 ;
wire SPI_DONE_0_sqmuxa_0_a3_1 ;
wire N_19 ;
wire SPI_DONE_0_sqmuxa_0_a3_3_Z ;
wire N_21 ;
  CLKINT SPI_DONE_inferred_clock_RNIDF25 (
	.Y(SPI_DONE_1z),
	.A(SPI_DONE_0)
);
// @15:60
  SLE SCLK_old (
	.Q(SCLK_old_Z),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(SCLK_latched_Z),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE SS_latched (
	.Q(SS_latched_Z),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_ss_c),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE SCLK_latched (
	.Q(SCLK_latched_Z),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_sck_c),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE MOSI_latched (
	.Q(MOSI_latched_Z),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_mosi_c),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE SPI_DONE (
	.Q(SPI_DONE_0),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(SPI_DONE_0_sqmuxa_0_0),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE SS_old (
	.Q(SS_old_Z),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(SS_latched_Z),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \TxData[14]  (
	.Q(TxData_Z[14]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[13]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[13]  (
	.Q(TxData_Z[13]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[12]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[12]  (
	.Q(TxData_Z[12]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[11]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[11]  (
	.Q(TxData_Z[11]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[10]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[10]  (
	.Q(TxData_Z[10]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[9]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[9]  (
	.Q(TxData_Z[9]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[8]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[8]  (
	.Q(TxData_Z[8]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[7]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[7]  (
	.Q(TxData_Z[7]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[6]  (
	.Q(TxData_Z[6]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[5]  (
	.Q(TxData_Z[5]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[4]  (
	.Q(TxData_Z[4]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[3]  (
	.Q(TxData_Z[3]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[2]  (
	.Q(TxData_Z[2]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[1]  (
	.Q(TxData_Z[1]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[0]  (
	.Q(TxData_Z[0]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(VCC),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \TxData[29]  (
	.Q(TxData_Z[29]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[28]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[28]  (
	.Q(TxData_Z[28]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[27]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[27]  (
	.Q(TxData_Z[27]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[26]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[26]  (
	.Q(TxData_Z[26]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[25]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[25]  (
	.Q(TxData_Z[25]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[24]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[24]  (
	.Q(TxData_Z[24]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[23]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[23]  (
	.Q(TxData_Z[23]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[22]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[22]  (
	.Q(TxData_Z[22]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[21]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[21]  (
	.Q(TxData_Z[21]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[20]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[20]  (
	.Q(TxData_Z[20]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[19]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[19]  (
	.Q(TxData_Z[19]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[18]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[18]  (
	.Q(TxData_Z[18]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[17]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[17]  (
	.Q(TxData_Z[17]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[16]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[16]  (
	.Q(TxData_Z[16]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[15]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[15]  (
	.Q(TxData_Z[15]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[14]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \RxdData[12]  (
	.Q(spi_slave_0_DataRxd[12]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[11]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[11]  (
	.Q(spi_slave_0_DataRxd[11]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[10]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[10]  (
	.Q(spi_slave_0_DataRxd[10]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[9]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[9]  (
	.Q(spi_slave_0_DataRxd[9]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[8]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[8]  (
	.Q(spi_slave_0_DataRxd[8]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[7]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[7]  (
	.Q(spi_slave_0_DataRxd[7]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[6]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[6]  (
	.Q(spi_slave_0_DataRxd[6]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[5]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[5]  (
	.Q(spi_slave_0_DataRxd[5]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[4]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[4]  (
	.Q(spi_slave_0_DataRxd[4]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[3]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[3]  (
	.Q(spi_slave_0_DataRxd[3]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[2]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[2]  (
	.Q(spi_slave_0_DataRxd[2]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[1]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[1]  (
	.Q(spi_slave_0_DataRxd[1]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[0]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[0]  (
	.Q(spi_slave_0_DataRxd[0]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(MOSI_latched_Z),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \TxData[31]  (
	.Q(spi_miso_c),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[30]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \TxData[30]  (
	.Q(TxData_Z[30]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(TxData_Z[29]),
	.EN(VCC),
	.LAT(GND),
	.SD(VCC),
	.SLn(N_2_i)
);
// @15:60
  SLE \RxdData[27]  (
	.Q(spi_slave_0_DataRxd[27]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[26]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[26]  (
	.Q(spi_slave_0_DataRxd[26]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[25]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[25]  (
	.Q(spi_slave_0_DataRxd[25]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[24]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[24]  (
	.Q(spi_slave_0_DataRxd[24]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[23]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[23]  (
	.Q(spi_slave_0_DataRxd[23]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[22]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[22]  (
	.Q(spi_slave_0_DataRxd[22]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[21]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[21]  (
	.Q(spi_slave_0_DataRxd[21]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[20]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[20]  (
	.Q(spi_slave_0_DataRxd[20]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[19]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[19]  (
	.Q(spi_slave_0_DataRxd[19]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[18]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[18]  (
	.Q(spi_slave_0_DataRxd[18]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[17]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[17]  (
	.Q(spi_slave_0_DataRxd[17]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[16]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[16]  (
	.Q(spi_slave_0_DataRxd[16]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[15]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[15]  (
	.Q(spi_slave_0_DataRxd[15]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[14]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[14]  (
	.Q(spi_slave_0_DataRxd[14]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[13]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[13]  (
	.Q(spi_slave_0_DataRxd[13]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[12]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[31]  (
	.Q(spi_slave_0_DataRxd[31]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[30]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[30]  (
	.Q(spi_slave_0_DataRxd[30]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[29]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[29]  (
	.Q(spi_slave_0_DataRxd[29]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[28]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \RxdData[28]  (
	.Q(spi_slave_0_DataRxd[28]),
	.ADn(VCC),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(spi_slave_0_DataRxd[27]),
	.EN(N_4_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \index[0]  (
	.Q(index_Z[0]),
	.ADn(GND),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(N_161_i),
	.EN(N_18_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \index[3]  (
	.Q(index_Z[3]),
	.ADn(GND),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(N_10),
	.EN(N_18_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \index[2]  (
	.Q(index_Z[2]),
	.ADn(GND),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(N_12),
	.EN(N_18_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \index[1]  (
	.Q(index_Z[1]),
	.ADn(GND),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(N_15),
	.EN(N_18_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  SLE \index[4]  (
	.Q(index_Z[4]),
	.ADn(GND),
	.ALn(Y_OUT_PRE_INV0_0_arst),
	.CLK(clk_debug),
	.D(N_8),
	.EN(N_18_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @15:60
  CFG3 index_n1_i (
	.A(index_Z[0]),
	.B(index_n1_i_0_Z),
	.C(index_Z[1]),
	.Y(N_15)
);
defparam index_n1_i.INIT=8'hCD;
// @15:60
  CFG2 \index_RNO[0]  (
	.A(N_22),
	.B(index_Z[0]),
	.Y(N_161_i)
);
defparam \index_RNO[0] .INIT=4'hB;
// @15:97
  CFG2 SPI_DONE_0_sqmuxa_0_a3_1_0 (
	.A(SS_latched_Z),
	.B(index_Z[2]),
	.Y(SPI_DONE_0_sqmuxa_0_a3_1)
);
defparam SPI_DONE_0_sqmuxa_0_a3_1_0.INIT=4'h4;
// @15:60
  CFG2 index_n2_i_o2 (
	.A(index_Z[0]),
	.B(index_Z[1]),
	.Y(N_19)
);
defparam index_n2_i_o2.INIT=4'hE;
// @15:91
  CFG2 index_1_sqmuxa_i_0_o3 (
	.A(SCLK_latched_Z),
	.B(SCLK_old_Z),
	.Y(N_22)
);
defparam index_1_sqmuxa_i_0_o3.INIT=4'hD;
// @15:60
  CFG4 index_n1_i_0 (
	.A(index_Z[1]),
	.B(SCLK_old_Z),
	.C(index_Z[0]),
	.D(SCLK_latched_Z),
	.Y(index_n1_i_0_Z)
);
defparam index_n1_i_0.INIT=16'hECFF;
// @15:97
  CFG4 SPI_DONE_0_sqmuxa_0_a3_3 (
	.A(index_Z[1]),
	.B(SCLK_old_Z),
	.C(index_Z[0]),
	.D(SCLK_latched_Z),
	.Y(SPI_DONE_0_sqmuxa_0_a3_3_Z)
);
defparam SPI_DONE_0_sqmuxa_0_a3_3.INIT=16'h0080;
// @15:60
  CFG4 index_n3_i_o2_0 (
	.A(index_Z[3]),
	.B(index_Z[2]),
	.C(index_Z[1]),
	.D(index_Z[0]),
	.Y(N_21)
);
defparam index_n3_i_o2_0.INIT=16'hFFFE;
// @15:97
  CFG4 SPI_DONE_0_sqmuxa_0_a3 (
	.A(index_Z[3]),
	.B(index_Z[4]),
	.C(SPI_DONE_0_sqmuxa_0_a3_3_Z),
	.D(SPI_DONE_0_sqmuxa_0_a3_1),
	.Y(SPI_DONE_0_sqmuxa_0_0)
);
defparam SPI_DONE_0_sqmuxa_0_a3.INIT=16'h8000;
// @15:60
  CFG3 SS_latched_RNIF5U21 (
	.A(SS_latched_Z),
	.B(SCLK_old_Z),
	.C(SCLK_latched_Z),
	.Y(N_4_i)
);
defparam SS_latched_RNIF5U21.INIT=8'h10;
  CFG3 SS_latched_RNIF5U21_0 (
	.A(SS_latched_Z),
	.B(SCLK_old_Z),
	.C(SCLK_latched_Z),
	.Y(N_2_i)
);
defparam SS_latched_RNIF5U21_0.INIT=8'h04;
// @15:60
  CFG4 index_n2_i_1 (
	.A(index_Z[2]),
	.B(index_Z[1]),
	.C(index_Z[0]),
	.D(N_22),
	.Y(N_12)
);
defparam index_n2_i_1.INIT=16'hFFA9;
// @15:60
  CFG4 index_n3_i_1 (
	.A(index_Z[2]),
	.B(index_Z[3]),
	.C(N_22),
	.D(N_19),
	.Y(N_10)
);
defparam index_n3_i_1.INIT=16'hFCF9;
// @15:60
  CFG4 SS_old_RNIM0QF1 (
	.A(SS_old_Z),
	.B(SS_latched_Z),
	.C(SCLK_old_Z),
	.D(SCLK_latched_Z),
	.Y(N_18_i)
);
defparam SS_old_RNIM0QF1.INIT=16'h2322;
// @15:60
  CFG3 index_n4_i (
	.A(N_22),
	.B(index_Z[4]),
	.C(N_21),
	.Y(N_8)
);
defparam index_n4_i.INIT=8'hEB;
//@20:230
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* spi_slave */

module soundchip (
  DEVRST_N,
  spi_mosi,
  spi_sck,
  spi_ss,
  dac_out_left,
  dac_out_right,
  spi_miso
)
;
input DEVRST_N ;
input spi_mosi ;
input spi_sck ;
input spi_ss ;
output dac_out_left ;
output dac_out_right ;
output spi_miso ;
wire DEVRST_N ;
wire spi_mosi ;
wire spi_sck ;
wire spi_ss ;
wire dac_out_left ;
wire dac_out_right ;
wire spi_miso ;
wire [15:0] data_receiver_0_data_left;
wire [15:0] data_receiver_0_data_right;
wire [31:0] spi_slave_0_DataRxd;
wire SYSRESET_0_POWER_ON_RESET_N ;
wire FCCC_C0_0_LOCK ;
wire clk_debug ;
wire SPI_DONE ;
wire VCC ;
wire GND ;
wire Y_OUT_PRE_INV0_0_arst ;
wire Y_OUT_PRE_INV0_0 ;
wire spi_mosi_c ;
wire spi_sck_c ;
wire spi_ss_c ;
wire dac_out_left_c ;
wire dac_out_right_c ;
wire spi_miso_c ;
wire data_receiver_0_dac_reset_i ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
  CLKINT AND2_0_RNIKOS1 (
	.Y(Y_OUT_PRE_INV0_0_arst),
	.A(Y_OUT_PRE_INV0_0)
);
// @20:22
  INBUF spi_mosi_ibuf (
	.Y(spi_mosi_c),
	.PAD(spi_mosi)
);
// @20:23
  INBUF spi_sck_ibuf (
	.Y(spi_sck_c),
	.PAD(spi_sck)
);
// @20:24
  INBUF spi_ss_ibuf (
	.Y(spi_ss_c),
	.PAD(spi_ss)
);
// @20:26
  OUTBUF dac_out_left_obuf (
	.PAD(dac_out_left),
	.D(dac_out_left_c)
);
// @20:27
  OUTBUF dac_out_right_obuf (
	.PAD(dac_out_right),
	.D(dac_out_right_c)
);
// @20:28
  OUTBUF spi_miso_obuf (
	.PAD(spi_miso),
	.D(spi_miso_c)
);
// @20:246
  SYSRESET SYSRESET_0 (
	.POWER_ON_RESET_N(SYSRESET_0_POWER_ON_RESET_N),
	.DEVRST_N(DEVRST_N)
);
// @20:174
  AND2 AND2_0 (
	.Y(Y_OUT_PRE_INV0_0),
	.A(SYSRESET_0_POWER_ON_RESET_N),
	.B(FCCC_C0_0_LOCK)
);
// @20:183
  dac dac_0 (
	.data_receiver_0_data_left(data_receiver_0_data_left[15:0]),
	.dac_reset_i(data_receiver_0_dac_reset_i),
	.clk_debug(clk_debug),
	.dac_out_left_c(dac_out_left_c)
);
// @20:193
  dac_0 dac_1 (
	.data_receiver_0_data_right(data_receiver_0_data_right[15:0]),
	.dac_reset_i(data_receiver_0_dac_reset_i),
	.clk_debug(clk_debug),
	.dac_out_right_c(dac_out_right_c)
);
// @20:203
  data_receiver data_receiver_0 (
	.spi_slave_0_DataRxd(spi_slave_0_DataRxd[31:0]),
	.data_receiver_0_data_left(data_receiver_0_data_left[15:0]),
	.data_receiver_0_data_right(data_receiver_0_data_right[15:0]),
	.Y_OUT_PRE_INV0_0(Y_OUT_PRE_INV0_0),
	.SPI_DONE(SPI_DONE),
	.Y_OUT_PRE_INV0_0_arst(Y_OUT_PRE_INV0_0_arst),
	.dac_reset_i(data_receiver_0_dac_reset_i)
);
// @20:215
  FCCC_C0 FCCC_C0_0 (
	.clk_debug(clk_debug),
	.FCCC_C0_0_LOCK(FCCC_C0_0_LOCK),
	.OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
// @20:224
  OSC_C0 OSC_C0_0 (
	.OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
// @20:230
  spi_slave spi_slave_0 (
	.spi_slave_0_DataRxd(spi_slave_0_DataRxd[31:0]),
	.spi_miso_c(spi_miso_c),
	.spi_mosi_c(spi_mosi_c),
	.spi_sck_c(spi_sck_c),
	.spi_ss_c(spi_ss_c),
	.clk_debug(clk_debug),
	.Y_OUT_PRE_INV0_0_arst(Y_OUT_PRE_INV0_0_arst),
	.SPI_DONE_1z(SPI_DONE)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* soundchip */

